{% extends "encyclopedia/layout.html" %} {% block title %} Encyclopedia - Edit {{title}}
{%endblock %} {% block body %}
<h1>Edit the {{title}} Encyclopedia Entry</h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form action="{% url 'edit' title %}" method="POST">
  {% csrf_token %} {{form}}
  <input class="btn btn-primary" type="submit" value="Save Changes" />
</form>
{% endblock %}
